h1 {
    font-size: 30px;
    text-align: center;
    color: #171717
}

.changelang{
    text-align: right;
    height: 3%;
}

.Top{
    height: 3%;
}

.Map{
    width: 100%;
    height: 80%;
}

.Bottom{
    text-align: center;
}